- @cookbook.sections.by_position.each do |section|
  %h2.section-header= section.name
  - if section.recipes.any?
    .recipe-columns
      - section.recipes.bases_only.includes(:variants).abc.each do |recipe|
        .recipe-family
          .recipe-item{ class: [('favorite' if recipe.favorite? && !recipe.forgotten?), ('forgotten' if recipe.forgotten?)].compact }
            .recipe-item-content
              .recipe-name
                = link_to recipe.display_name, [:public, recipe], class: 'recipe-link'

          - recipe.variants.sort_by(&:name).each do |variant|
            .recipe-item.variant{ class: [('favorite' if variant.favorite? && !variant.forgotten?), ('forgotten' if variant.forgotten?)].compact }
              .recipe-item-content
                .recipe-name
                  = link_to variant.name, [:public, variant], class: 'recipe-link'
