%h1 Sections

.mb-4
  %h3 Add New Section
  = form_with model: @section do |f|
    .row.g-2
      .col-auto.flex-grow-1
        = f.text_field :name, placeholder: 'Section name', class: 'form-control'
      .col-auto
        = f.submit 'Create', class: 'btn btn-primary'

.sections-table
  .table-responsive{style: 'max-width: 800px'}
    %table.table.table-sm.table-hover
      %thead
        %tr
          %th{style: 'width: 80px'} Order
          %th Name
          %th{style: 'width: 100px'}
      %tbody#sections-table-body
        = render 'sections_rows', sections: @sections
